<ion-view view-title="All Scans ({{scans.length}})">
  <ion-content>
    <ion-list
    can-swipe="true">
      <ion-item
      class="item-avatar"
      href="#/scan/{{scan.uuid}}"
      ng-repeat="scan in scans">
        <img ng-src="{{scan.volumeInfo.imageLinks.smallThumbnail}}" alt="image">
        <h2>{{scan.volumeInfo.title}}</h2>
        <p>{{scan.scanTime | date:'medium'}}</p>
        <ion-option-button
        class="button-assertive"
        ng-click="delete(scan)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
